Repository typedb/typedb-driver, pull requests merged in 2023-09, with the labels that each got.

#445 Finalize deployment to Cargo and NPM
  .circleci/config.yml
  .factory/automation.yml
  BUILD
  WORKSPACE
  dependencies/maven/artifacts.bzl
  dependencies/maven/artifacts.snapshot
  dependencies/vaticle/artifacts.bzl
  dependencies/vaticle/repositories.bzl
  deployment.bzl
  nodejs/BUILD
  nodejs/common/rpc/TypeDBStub.ts
  nodejs/connection/TypeDBStubImpl.ts
  nodejs/package.json
  nodejs/test/integration/test-cluster-failover.js
  python/BUILD
  python/rules.bzl
  rust/BUILD
  tool/test/resources/BUILD
  tool/test/resources/encryption/ext-grpc-certificate.pem
  tool/test/resources/encryption/ext-grpc-private-key.pem
  tool/test/resources/encryption/ext-grpc-root-ca.pem
  tool/test/resources/encryption/int-grpc-certificate.pem
  tool/test/resources/encryption/int-grpc-private-key.pem
  tool/test/resources/encryption/int-grpc-root-ca.pem
  tool/test/resources/encryption/int-zmq-private-key
  tool/test/resources/encryption/int-zmq-public-key
  tool/test/resources/encryption/keystore.pkcs12
  tool/test/start-cluster-servers.sh
Labels: type: build, type: refactor, priority: blocker

#448 Depend on all JNI platforms in typedb-driver POM
  .circleci/config.yml
  .circleci/windows/java/test_deploy_snapshot.bat
  .circleci/windows/python/test_deploy_snapshot.bat
  .factory/automation.yml
  BUILD
  README.md
  WORKSPACE
  c/src/query.rs
  dependencies/vaticle/repositories.bzl
  java/BUILD
  java/common/Loader.java
  java/common/exception/ErrorMessage.java
  java/concept/answer/ConceptMapImpl.java
  java/query/QueryManagerImpl.java
  java/rules.bzl
  python/typedb/query/query_manager.py
  rust/src/connection/connection.rs
  rust/src/transaction/query.rs
  rust/tests/integration/logic.rs
  tool/ide/rust/BUILD
  tool/ide/rust/sync.sh
  tool/release/create_notes.sh
Labels: type: refactor, priority: blocker, domain: build

#451 Allow on_close callbacks to interact with the network
  WORKSPACE
  c/src/concept/concept.rs
  c/src/concept/type_.rs
  dependencies/vaticle/artifacts.bzl
  dependencies/vaticle/repositories.bzl
  java/BUILD
  java/common/Loader.java
  java/connection/TypeDBSessionImpl.java
  java/connection/TypeDBTransactionImpl.java
  python/rules.bzl
  rust/src/common/info.rs
  rust/src/common/mod.rs
  rust/src/connection/connection.rs
  rust/src/connection/message.rs
  rust/src/connection/network/proto/message.rs
  rust/src/connection/network/transmitter/transaction.rs
  rust/src/connection/runtime.rs
  rust/src/connection/transaction_stream.rs
  rust/src/transaction/concept/api/type_.rs
  rust/tests/behaviour/concept/type_/attributetype/steps.rs
  rust/tests/behaviour/concept/type_/entitytype/steps.rs
  rust/tests/behaviour/concept/type_/relationtype/steps.rs
  rust/tests/integration/queries.rs
Labels: type: bug, priority: blocker

#452 Split rust behaviour typeql write and fix Java Relation API
  .circleci/config.yml
  .circleci/windows/java/test_deploy_snapshot.bat
  .factory/automation.yml
  java/README.md
  java/api/concept/thing/Relation.java
  java/api/concept/thing/Thing.java
  java/common/exception/ErrorMessage.java
  java/concept/thing/RelationImpl.java
  java/test/behaviour/concept/thing/relation/RelationSteps.java
  java/test/deployment/pom.xml
  nodejs/README.md
  nodejs/common/errors/ErrorMessage.ts
  nodejs/connection/TypeDBDriverImpl.ts
  python/README.md
  python/tests/deployment/requirements.txt
  python/typedb/common/exception.py
  python/typedb/connection/driver.py
  rust/BUILD
  rust/README.md
Labels: type: refactor, priority: blocker

#457 Update native java tests to support multiple CPU architectures
  dependencies/vaticle/artifacts.bzl
  dependencies/vaticle/repositories.bzl
  java/BUILD
  java/test/behaviour/concept/serialization/json/BUILD
  java/test/behaviour/concept/thing/attribute/BUILD
  java/test/behaviour/concept/thing/entity/BUILD
  java/test/behaviour/concept/thing/relation/BUILD
  java/test/behaviour/concept/type/attributetype/BUILD
  java/test/behaviour/concept/type/entitytype/BUILD
  java/test/behaviour/concept/type/relationtype/BUILD
  java/test/behaviour/connection/database/BUILD
  java/test/behaviour/connection/session/BUILD
  java/test/behaviour/connection/transaction/BUILD
  java/test/behaviour/connection/user/BUILD
  java/test/behaviour/debug/BUILD
  java/test/behaviour/rules.bzl
  java/test/behaviour/typeql/language/define/BUILD
  java/test/behaviour/typeql/language/delete/BUILD
  java/test/behaviour/typeql/language/expression/BUILD
  java/test/behaviour/typeql/language/get/BUILD
  java/test/behaviour/typeql/language/insert/BUILD
  java/test/behaviour/typeql/language/match/BUILD
  java/test/behaviour/typeql/language/undefine/BUILD
  java/test/behaviour/typeql/language/update/BUILD
  java/test/integration/BUILD
  nodejs/test/integration/test-enterprise-failover.js
  python/rules.bzl
  tool/test/BUILD
  tool/test/start-enterprise-servers.sh
Labels: type: refactor, priority: blocker

#456 Publish crate with correctly versioned bazel dependencies
  .github/pull_request_template.md
  RELEASE_NOTES_LATEST.md
  RELEASE_TEMPLATE.md
  VERSION
  c/BUILD
  c/src/logic.rs
  dependencies/vaticle/repositories.bzl
  nodejs/package.json
  rust/BUILD
  rust/README.md
  rust/src/common/error.rs
  rust/src/connection/message.rs
  rust/src/connection/network/proto/logic.rs
  rust/src/connection/transaction_stream.rs
  rust/src/logic/rule.rs
  rust/src/transaction/logic/manager.rs
  rust/tests/BUILD
  rust/tests/behaviour/typeql/language/steps.rs
  rust/tests/behaviour/util/mod.rs
  rust/tests/integration/logic.rs
Labels: type: refactor, priority: blocker, domain: build
